.myfont {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gaby {
    text-align: justify;
}
nav i {
    font-size: 2rem;
    color: rgb(247, 148, 29);
    
}